# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
school_venv/
venv/
env/
.venv/

# =========================
# Django
# =========================
db.sqlite3
*.sqlite3
media/
staticfiles/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log

# =========================
# Static Build / Cache
# =========================
node_modules/
dist/
build/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Python packaging
# =========================
*.egg-info/
.eggs/